<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Key</key>
	<string>n6Z5oupRwfWPbJNwjofnw</string>
	<key>Secret</key>
	<string>VXNH9x1NuDW7mrXfk0BQnmCa6LR0MYmJT53eaup1dM</string>
</dict>
</plist>
